<header style="border-bottom: 1px solid #eee;">
    <!-- End Messages -->
    <div class="px-2 bg-dark">
        <!-- Navbar -->
        <!-- Important: columns can be used directly in navbar since it is d-flex -->
        <nav class="navbar navbar-expand-md navbar-dark bg-dark p-0 py-2">
            <a class="navbar-brand" href="/">LGAlert</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <!--<ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="%">link 1</a>
                    </li>
                </ul>-->
            </div>
        </nav>
        <!-- End Navbar -->
    </div>
    <!-- Messages -->
    <div>
        {% if messages %}
        {% for message in messages %}
        <div style="border-radius:0;" {% if message.tags %}
             class="alert alert-icon alert-{{ message.tags }} alert-dismissible fade show mb-0" role="alert" {% endif %}>
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endfor %}
        {% endif %}
    </div>
</header>