{% extends "base.html" %}
{% load static bootstrap5 %}
{% block content %}
    <h3 class="text-center">Formulaire de signalement</h3>
<form action="{% url 'alert_add' %}" method="post" class="form">
    {% csrf_token %}
    {% bootstrap_form form layout='horizontal' %}
    {% buttons layout='horizontal' form_group_class='mb-3 row' %}
        {% bootstrap_button 'Send' 'submit' button_class="btn-primary" %}
    {% endbuttons %}
</form>
<script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
<script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
{% endblock %}